.to-do-item {
    align-items: center;
    width: 100%;
    //box-shadow: 5px 10px 18px #888888;
    background-color: #eee;
    border-radius: 25px;
    margin: auto;
    font-size: 0.75rem;
    margin-bottom: 10px;
    
    .top {
        display: flex;
        justify-content: space-around;
        padding: 5px;
        margin: 5px;

        .select {
            width: 5%;
            text-align: center;
        }
        .title-div {
            width: 75%;
            display: flex;
            flex-direction: column;
            text-align: left;
            padding-left: 5px;
        }

        .tag {
            width: 20%;
            text-align: center;
            display: flex;
            justify-content: flex-end;
            height: 20px;

            .tag-label{
                background-color: orange;
                border: 1px solid orange;
                color: white;
                border-radius: 5px;
                padding-inline-start: 5px;
                padding-inline-end: 5px;    
            }
        }

        input[type=checkbox] {
            display:none;
        }
        
        input[type=checkbox] + label {
            display:inline-block;
            padding: 0 0 0 0px;
            background:url("../../../_assets/icons/black-checked.png") no-repeat;
            height: 30px;
            width: 30px;;
            background-size: 50%;
        }
        
        input[type=checkbox]:checked + label {
            background:url("../../../_assets/icons/red-checked.png") no-repeat;
            height: 30px;
            width: 30px;
            display:inline-block;
            background-size: 50%;
        }    
    }
    
    .bottom {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding-bottom: 10px;
        
        .logo{
            width: 15%;
            display: flex;
            justify-content: center;
        }
        .member {
            width: 25%;
            text-align: left;
            display: flex;
            align-items: center;
        }

        .due-date{
            width: 60%;
            text-align: right;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 5px;
            
            .due-date-label{
                background-color: #30f9b0;
                border: 1px solid #30f9b0;
                color: white;
                border-radius: 5px;    
                padding-inline-start: 5px;
                padding-inline-end: 5px;    
            }
        }
    
        .profile-image {
            height: 25px;
            width: 25px;
            border: 1px solid grey;
            border-radius: 100%;
           // margin-bottom: 10px;
        }
        
        // .empty {
        //     width: 20%;
        // }
    }
}